.header {
  // shape-outside: circle(30%);
  @media (min-width: 768px){ border-radius: 50% }

  z-index: 1;
  position: relative;
  overflow: hidden;
  grid-column-start: header-start;
  grid-column-end: header-end;
  grid-row-start: header-start;
  grid-row-end: header-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > * {
    margin: 0;
    + * { margin-top: 8px }
  }

  h1 {
    font-family: 'Roboto', sans-serif;
    color: $color-dark-mid;
    letter-spacing: .2em;
    font-size: 1rem;
    @media (min-width: 1024px){ font-size: 2rem }
  }

  &--board-address {
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: 100;
    letter-spacing: .01em;
    font-size: .5rem;
    color: $color-dark;
    @media (min-width: 1024px){ font-size: 1rem }
  }

  a {
    transition: $transition;
    .ad-is-focused & {
      color: $color-light;
    }
  }

}

nav {
  width: 88%
}

[type=button] {
  &:hover {
    cursor: pointer;
  }
}