/**
 * color palette
 * $color-dark:       #2A290A;
 * $color-dark-mid:   #6A551F;
 * $color-mid:        #466167;
 * $color-light-mid:  #889F77;
 * $color-light:      #EFF0E5; // mintcream lol
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:100');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

html, body, #root, .app {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  background: $color-light;
  --header-width: 100vh;
  @media (max-aspect-ratio: 1/1) {
    --header-width: 100%;
  }
}

.app {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica";
  overflow: hidden;
  display: grid;
  
  grid-template-columns: [board-start] minmax(8%, 1fr) [header-start] minmax(auto, 420px) [header-end] minmax(8%, 1fr) [board-end];
  grid-template-rows: [board-start] minmax(8%, 1fr) [header-start] minmax(auto, 420px) [header-end] minmax(8%, 1fr) [board-end];

}

.header {
  // shape-outside: circle(30%);
  @media (min-width: 768px){ border-radius: 50% }

  position: relative;
  overflow: hidden;
  grid-column-start: header-start;
  grid-column-end: header-end;
  grid-row-start: header-start;
  grid-row-end: header-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > * {
    margin: 0;
    + * { margin-top: 8px }
  }

  h1 {
    font-family: 'Roboto', sans-serif;
    color: $color-dark-mid;
    letter-spacing: .2em;
    font-size: 1rem;
    @media (min-width: 1024px){ font-size: 2rem }
  }

  &--board-address {
    display: flex;
    justify-content: center;
    font-weight: 100;
    letter-spacing: .01em;
    font-size: .5rem;
    @media (min-width: 1024px){ font-size: 1rem }
  }

}

nav {
  width: 88%
}

[type=button] {
  &:hover {
    cursor: pointer;
  }
}