/**
 * color palette
 * $color-dark:       #2A290A;
 * $color-dark-mid:   #6A551F;
 * $color-mid:        #466167;
 * $color-light-mid:  #889F77;
 * $color-light:      #EFF0E5; // mintcream lol
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:100');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

html, body, #root, .app {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  background: $color-light;
  --header-width: 100vh;
  @media (max-aspect-ratio: 1/1) {
    --header-width: 100%;
  }
}

.app {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica";
  overflow: hidden;
  display: grid;
  
  grid-template-columns: [board-start] minmax(8%, 1fr) [header-start] minmax(auto, 420px) [header-end] minmax(8%, 1fr) [board-end];
  grid-template-rows: [board-start] minmax(8%, 1fr) [header-start] minmax(auto, 420px) [header-end] minmax(8%, 1fr) [board-end];

}