.post-ad-form {

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--fields {
    .post-ad-form--field {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      &.disabled {
        z-index: 0;
      }
      input {
        background: none;
        border: none;
        display: flex;
        text-align: center;
        border-bottom: dotted $color-dark 2px;
        &, &:placeholder {
          font-family: 'Roboto', sans-serif;
          letter-spacing: .2em;
          font-size: 1rem;
        }
        /* &:placeholder {

        } */
      }
    }
  }

  &--controls {
    width: 100%;
    display: flex;
    justify-content: space-between;

    [type=submit]{
      position: absolute;
      right: 0;
    }
  }

  input, label {
    transition: all .2s ease;
    z-index: 1;
    opacity: 1;
    &.disabled {
      opacity: 0;
      z-index: 0;
    }
    &:not(.disabled){
      transition-delay: .2s;
    }
  }

}