.board {
  // grid-area: board;
  grid-column-start: board-start;
  grid-column-end: board-end;
  grid-row-start: board-start;
  grid-row-end: board-end;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  > * {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }
  
  h2 {
    flex: 1;
  }

  transition: all .222s ease;
  // filter: brightness(1);
  .ad-is-focused & {
    filter: brightness(.2);
  }

}
