.nav--bubble { // probably should move this over to app index.css because nav--bubble is an element of nav
  z-index: -1;
}

.bubbles {

  &--bg {
    fill: $color-light;
  }

  .ad {
    &:hover {
      cursor: pointer;
    }
  }
}